@model List<RoleModel>
@{
    ViewBag.Title = "Role Permission Assignment";
}
<h2>Assign Permissions to Roles</h2>

<ul>
    @foreach (var role in Model)
    {
        <li>
            @Html.ActionLink(role.RoleName, "Edit", new { roleId = role.RoleId })
        </li>
    }
</ul>
